@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'public sans';
  
}
body{
  font-size: 18px;
}
.logo{
  float: left;
}
.navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color:hsl(0, 0%, 100%);
}
.navbar_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul a {
  display: flex;
  justify-content: center;
  padding-left:50px;
  text-decoration: none;
  color:hsl(233, 8%, 62%)
}
ul a:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
  text-decoration-color:hsl(136, 65%, 51%);
  text-underline-offset: 4vh;
  text-decoration-thickness:5px ;
}
button{
  list-style-type: none;
  padding: 13px 35px 13px 35px;
  border-radius: 30px;
  margin-right: 70px;
  border: none;
  background:linear-gradient(to right, #84fab0 4%, #8fd3f4 80%);
  color: hsl(0, 0%, 100%);
}
button:hover{
  cursor: pointer;
  background:linear-gradient(to right, #84fab0 0%, #8fd3f4 51%);
  color:hsl(0, 0%, 98%) ;
}
/* hero section */
.hero_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color:  hsl(0, 0%, 98%);
  margin-top: 20px;
  padding-top: 50px;
}
.new_container{
  display: inline-grid;
  direction: column;
  margin-left: 80px;
  padding-top: 30px;

}
.mockup_img{
  overflow: hidden;
}
.mockup{
  height: 105vh;
  width: 110%;
}

.title{
  font-size: 50px;
  padding-bottom: 30px;
  color:hsl(233, 26%, 24%) ;
  text-align: left;
}
.new_button{
  margin-top: 30px;
}
.para{
  line-height: 5vh;
  text-align: left;
  color: hsl(233, 8%, 62%);
}
.section_container{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color:hsl(220, 16%, 96%);
}
h2{
  width: 100%;
  margin-bottom: 20px;
  color: hsl(233, 26%, 24%);
  font-weight: lighter;
}
.about{
  margin-left: 60px;
  padding: 30px;
  margin-top: 50px;
}
.desc{
  width: 70%;
  padding-top: 50px;
}
.about_descrip{
  display: flex;
  direction: row;
  padding: 40px;
  text-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 40px;
}
.about_img{
  max-width: 50%;
  margin-bottom: 30px;
}
.banking,.budgeting,.onboarding,.open{
  padding: 10px;
}
p{
  font-size: 18px;
  color: hsl(233, 8%, 62%);
}


/* article section */

h5{
  padding: 5px;
  color: hsl(233, 26%, 24%);
  font-weight: lighter;
  text-align: justify;
  margin: 20px;
}

.article_img{
  height: 40vh;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1px;
}
.article_head{
  padding: 10px;
  margin-top: 50px;
  margin-left: 50px;
  color: hsl(233, 26%, 24%);
  font-size: 20px;
  font-weight: bold;
}
.article_container{
  display: flex;
  direction: row;
  padding: 20px;
  background-color: hsl(0, 0%, 98%);
}
.article_1,.article_2,.article_3,.article_4{
  text-wrap: wrap;
   background-color:hsl(0, 0%, 100%);
   margin: 20px;
}

h4{
  padding: 5px;
  margin-bottom: 5px;
  margin: 20px;
  font-weight: 400;
  color:hsl(233, 26%, 24%);
  text-align: justify;
}
h4:hover{
color: hsl(136, 65%, 51%);
cursor: pointer;
}
.article_p{
  line-height: 5vh;
  margin-left: 20px;
}

.footer_container{
  background-color: hsl(233, 26%, 24%);
  padding-top: 30px;
  padding-bottom: 30px;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-evenly;
  direction: row;
  align-items: center;
}
.footer{
  margin-left: 50px;
}
.img_footer{
  filter: brightness(1400%);
  display: grid;
  direction: row;
  padding-top: 20px;
}
.foot_img{
  padding: 5px;
  margin-top: 50px;
  color: black;
}
.foot_img:hover{
  cursor: pointer;

}
.footer1,.footer2{
  margin-right: 30px;
}
.footer3{
  display: grid;
  justify-content: right;
  align-items: flex-end;
  margin-left: 50px;
}
.btn_3{
  margin-left: 110px;
  margin-bottom: 15px;
}
.foot1,.foot2,.foot3{
  padding: 10px;
  color:hsl(0, 0%, 100%);
}

.foot1:hover{
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.foot2:hover{
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.foot3{
  padding: 10px;
  color:hsl(233, 8%, 62%);
}


